<script type="text/javascript">
function toggleCharset(id, f) {
    if ("enable_thisblog_1" == id) {
        toggleDisable('each_template_1', 0);
        toggleDisable('each_template_0', 0);
        if (f.each_template[1].checked) {
            toggleDisable('encoding_utf8', 0);
            toggleDisable('encoding_euc', 0);
            toggleDisable('encoding_sjis', 0);
            if (f.encoding[2].checked) {
                toggleDisable('cp932', 0);
            } else {
                toggleDisable('cp932', 1);
            }
            document.getElementById("encoding-field").style.display="block";
        } else if(f.each_template[0].checked) {
            toggleDisable('encoding_utf8', 1);
            toggleDisable('encoding_euc', 1);
            toggleDisable('encoding_sjis', 1);
            toggleDisable('cp932', 1);
        }
        document.getElementById("each_template-field").style.display="block";
    } else if("enable_thisblog_0" == id) {
        toggleDisable('each_template_1', 1);
        toggleDisable('each_template_0', 1);
        toggleDisable('encoding_utf8', 1);
        toggleDisable('encoding_euc', 1);
        toggleDisable('encoding_sjis', 1);
        toggleDisable('cp932', 1);
        document.getElementById("each_template-field").style.display="none";
        document.getElementById("encoding-field").style.display="none";
    } else if ("each_template_1" == id) {
        toggleDisable('each_template_1', 0);
        toggleDisable('each_template_0', 0);
        toggleDisable('encoding_utf8', 1);
        toggleDisable('encoding_euc', 1);
        toggleDisable('encoding_sjis', 1);
        toggleDisable('cp932', 1);
        document.getElementById("encoding-field").style.display="none";
    } else if ("each_template_0" == id) {
        toggleDisable('each_template_1', 0);
        toggleDisable('each_template_0', 0);
        toggleDisable('encoding_utf8', 0);
        toggleDisable('encoding_euc', 0);
        toggleDisable('encoding_sjis', 0);
        if (f.encoding[2].checked) {
            toggleDisable('cp932', 0);
        } else {
            toggleDisable('cp932', 1);
        }
        document.getElementById("encoding-field").style.display="block";
    } else if ("enable_charset_0" == id) {
        toggleDisable('cp932', 1);
    } else if ("enable_charset_1" == id) {
        toggleDisable('cp932', 1);
    } else if ("enable_charset_2" == id) {
        toggleDisable('cp932', 0);
    }
    return false;
}
</script>
<mt:unless name="enable_thisblog">
<style type="text/css">#each_template-field,#encoding-field { display: none; }</style>
</mt:unless>
<mt:if name="each_template">
<style type="text/css">#encoding-field { display: none; }</style>
</mt:if>
<mtapp:setting
  id="enable_thisblog"
  label="<__trans phrase="Enable ChangeEncoding in this blog">">
  <input type="radio" id="enable_thisblog_0" name="enable_thisblog" value="0" <mt:unless name="enable_thisblog">checked="checked"</mt:unless> onclick="toggleCharset('enable_thisblog_0',this.form);" /> <__trans phrase="Disable">
  &nbsp;&nbsp;
  <input type="radio" id="enable_thisblog_1" name="enable_thisblog" value="1" <mt:if name="enable_thisblog">checked="checked"</mt:if> onclick="toggleCharset('enable_thisblog_1',this.form);" /> <__trans phrase="Enable">
</mtapp:setting>
<mtapp:setting
  id="each_template"
  label="<__trans phrase="ChangeEncoding on each Template">">
  <input type="radio" id="each_template_1" name="each_template" value="1" <mt:if name="each_template">checked="checked"</mt:if> onclick="toggleCharset('each_template_1',this.form);" /> <__trans phrase="Each Template">
  &nbsp;&nbsp;
  <input type="radio" id="each_template_0" name="each_template" value="0" <mt:unless name="each_template">checked="checked"</mt:unless> onclick="toggleCharset('each_template_0',this.form);" /> <__trans phrase="All Templates">
</mtapp:setting>
<mtapp:setting
  id="encoding"
  label="<__trans phrase="Charset Encoding">">
<ul>
  <li><input type="radio" id="encoding_utf8" name="encoding" value="utf-8" <mt:if name="encoding" eq="utf-8">checked="checked"<mt:else><mt:unless name="encoding">checked="checked"</mt:unless></mt:if> onclick="toggleCharset('enable_charset_0',this.form);" /> UTF-8<__trans phrase="(default)"></li>
  <li><input type="radio" id="encoding_euc" name="encoding" value="euc-jp" <mt:if name="encoding" eq="euc-jp">checked="checked"</mt:if> onclick="toggleCharset('enable_charset_1',this.form);"/> EUC-JP</li>
  <li><input type="radio" id="encoding_sjis" name="encoding" value="shift_jis" <mt:if name="encoding" eq="shift_jis">checked="checked"</mt:if> onclick="toggleCharset('enable_charset_2',this.form);" /> Shift_JIS
&nbsp;&nbsp;&nbsp;
  <input type="checkbox" id="cp932" name="cp932" <mt:if name="cp932">checked="checked"</mt:if> /> <__trans phrase="Encoding CP932"></li>
</ul>
</mtapp:setting>
