<mtapp:setting
  id="encoding"
  label="<__trans phrase="Charset Encoding">">
  <input type="radio" name="encoding" value="utf-8" <mt:if name="encoding" eq="utf-8">checked="checked"</mt:if> /> UTF-8<__trans phrase="(default)">&nbsp;<input type="radio" name="encoding" value="euc-jp" <mt:if name="encoding" eq="euc-jp">checked="checked"</mt:if> /> EUC-JP&nbsp;&nbsp;<input type="radio" name="encoding" value="shift_jis" <mt:if name="encoding" eq="shift_jis">checked="checked"</mt:if> /> Shift_JIS
</mtapp:setting>
